/* CSS VARIABLES */
:root {
    /* COLORS */
    --White: hsl(0, 0%, 100%);
    --Slate-300: hsl(212, 45%, 89%);
    --Slate-500: hsl(216, 15%, 48%);
    --Slate-900: hsl(218, 44%, 22%);

    /* FONT */
    --Outfit: "Outfit", sans-serif;
}

/* CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    width: 288px;
    border-radius: 10px;
}

/* QR CONTENT */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--Slate-300);
}

.qr-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    width: 320px;
    border-radius: 20px;
    padding: 0 16px;
    padding-top: 16px;
}

.qr-text-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-text-content>h1,
.qr-text-content>p {
    font-family: var(--Outfit);
}

.qr-text-content>h1 {
    font-size: 22px;
    color: var(--Slate-900);
    font-weight: 700;
    padding-top: 24px;
    padding-bottom: 16px;
    width: 288px;
}

.qr-text-content>p {
    color: var(--Slate-500);
    font-size: 15px;
    padding-bottom: 40px;
    width: 256px;
}